@model IEnumerable<EnquiryVM>

@{
    ViewData["Title"] = "Enquiry Table";
}

<h1 class="mb-4">Enquiry Table</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.First_Name</td>
                        <td>@item.Last_Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Description</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No Records Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>